:root {
  --bg: #0a0a0f;
  --surface: #12121a;
  --surface2: #1a1a26;
  --surface3: #20202e;

  --border: rgba(160, 130, 255, 0.15);
  --border2: rgba(160, 130, 255, 0.25);

  --accent: #a07aff;
  --accent2: #ff7aad;

  --gold: #f5c842;
  --rare: #4af0c8;

  --text: #e8e0ff;
  --muted: #7a7090;

  --nav-w: 220px;
}